*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 감싸는 요소 */
.container{
  width: 600px;
  margin: 50px auto;  /* 좌우 가운데 배치 */

  display: flex;
  flex-direction: column;
  align-items: center;
}

#box{
  width: 10px;
  height: 10px;
  border: 3px solid black;
  margin-top: 30px;
  display: flex;
}

td, th{
  padding: 10px 0;
}

#content{
  width: 100%;
}

.input-width{ width: 75px;}